@media only screen and (max-width: 425px) {
#new {
    margin-top: 93px;
}
.add-button {
    width: 9.3%;
    right: 15.3%;
}

#Value {
    width: 43%;
}
#todo-list {
    width: 66%;
    margin-left: 20%;
}

}